.wrraper {
  border: 1px solid gray;
  margin: 32px;
}

.button {
  border: 2px solid green;
}

.toDoListWrraper {
  display: flex;
  justify-content: center;
  gap: 32px;
}


.toDoList {
  display: flex;
  width: 250px;
  flex-direction: column;
  gap: 16px;
}

